/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sono:wght@500&display=swap');

.toast {
   position: fixed;
   z-index: 9999;
   font-family: Sono;
}




/* Popup Opening Animation Functions */

/* Scale In */
@-webkit-keyframes scale-in-center {
   0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 1;
   }

   100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
   }
}

@keyframes scale-in-center {
   0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 1;
   }

   100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
   }
}


/* Rotate In */
@-webkit-keyframes rotate-in-center {
   0% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
      opacity: 0;
   }

   100% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
      opacity: 1;
   }
}

@keyframes rotate-in-center {
   0% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
      opacity: 0;
   }

   100% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
      opacity: 1;
   }
}


/* Swirl In */
@-webkit-keyframes swirl-in-fwd {
   0% {
      -webkit-transform: rotate(-540deg) scale(0);
      transform: rotate(-540deg) scale(0);
      opacity: 0;
   }

   100% {
      -webkit-transform: rotate(0) scale(1);
      transform: rotate(0) scale(1);
      opacity: 1;
   }
}

@keyframes swirl-in-fwd {
   0% {
      -webkit-transform: rotate(-540deg) scale(0);
      transform: rotate(-540deg) scale(0);
      opacity: 0;
   }

   100% {
      -webkit-transform: rotate(0) scale(1);
      transform: rotate(0) scale(1);
      opacity: 1;
   }
}


/* Flip In */
@-webkit-keyframes flip-in-hor-bottom {
   0% {
      -webkit-transform: rotateX(80deg);
      transform: rotateX(80deg);
      opacity: 0;
   }

   100% {
      -webkit-transform: rotateX(0);
      transform: rotateX(0);
      opacity: 1;
   }
}

@keyframes flip-in-hor-bottom {
   0% {
      -webkit-transform: rotateX(80deg);
      transform: rotateX(80deg);
      opacity: 0;
   }

   100% {
      -webkit-transform: rotateX(0);
      transform: rotateX(0);
      opacity: 1;
   }
}

/* Slit In */
@-webkit-keyframes slit-in-vertical {
   0% {
      -webkit-transform: translateZ(-800px) rotateY(90deg);
      transform: translateZ(-800px) rotateY(90deg);
      opacity: 0;
   }

   54% {
      -webkit-transform: translateZ(-160px) rotateY(87deg);
      transform: translateZ(-160px) rotateY(87deg);
      opacity: 1;
   }

   100% {
      -webkit-transform: translateZ(0) rotateY(0);
      transform: translateZ(0) rotateY(0);
   }
}

@keyframes slit-in-vertical {
   0% {
      -webkit-transform: translateZ(-800px) rotateY(90deg);
      transform: translateZ(-800px) rotateY(90deg);
      opacity: 0;
   }

   54% {
      -webkit-transform: translateZ(-160px) rotateY(87deg);
      transform: translateZ(-160px) rotateY(87deg);
      opacity: 1;
   }

   100% {
      -webkit-transform: translateZ(0) rotateY(0);
      transform: translateZ(0) rotateY(0);
   }
}

/* Slide In */
@-webkit-keyframes slide-in-top {
   0% {
      -webkit-transform: translateY(-1000px);
      transform: translateY(-1000px);
      opacity: 0;
   }

   100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
   }
}

@keyframes slide-in-top {
   0% {
      -webkit-transform: translateY(-1000px);
      transform: translateY(-1000px);
      opacity: 0;
   }

   100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
   }
}

/* Bounce In */
@-webkit-keyframes bounce-in-top {
   0% {
      -webkit-transform: translateY(-500px);
      transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
   }

   38% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      opacity: 1;
   }

   55% {
      -webkit-transform: translateY(-65px);
      transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
   }

   72% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
   }

   81% {
      -webkit-transform: translateY(-28px);
      transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
   }

   90% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
   }

   95% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
   }

   100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
   }
}

@keyframes bounce-in-top {
   0% {
      -webkit-transform: translateY(-500px);
      transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
   }

   38% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      opacity: 1;
   }

   55% {
      -webkit-transform: translateY(-65px);
      transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
   }

   72% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
   }

   81% {
      -webkit-transform: translateY(-28px);
      transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
   }

   90% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
   }

   95% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
   }

   100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
   }
}

/* Roll In */
@-webkit-keyframes roll-in-left {
   0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
      transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
   }

   100% {
      -webkit-transform: translateX(0) rotate(0deg);
      transform: translateX(0) rotate(0deg);
      opacity: 1;
   }
}

@keyframes roll-in-left {
   0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
      transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
   }

   100% {
      -webkit-transform: translateX(0) rotate(0deg);
      transform: translateX(0) rotate(0deg);
      opacity: 1;
   }
}

/* Tilt In */
@-webkit-keyframes tilt-in-top-1 {
   0% {
      -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
      transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
      opacity: 0;
   }

   100% {
      -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
      transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
   }
}

@keyframes tilt-in-top-1 {
   0% {
      -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
      transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
      opacity: 0;
   }

   100% {
      -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
      transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
   }
}

/* Swing In */
@-webkit-keyframes swing-in-top-fwd {
   0% {
      -webkit-transform: rotateX(-100deg);
      transform: rotateX(-100deg);
      -webkit-transform-origin: top;
      transform-origin: top;
      opacity: 0;
   }

   100% {
      -webkit-transform: rotateX(0deg);
      transform: rotateX(0deg);
      -webkit-transform-origin: top;
      transform-origin: top;
      opacity: 1;
   }
}

@keyframes swing-in-top-fwd {
   0% {
      -webkit-transform: rotateX(-100deg);
      transform: rotateX(-100deg);
      -webkit-transform-origin: top;
      transform-origin: top;
      opacity: 0;
   }

   100% {
      -webkit-transform: rotateX(0deg);
      transform: rotateX(0deg);
      -webkit-transform-origin: top;
      transform-origin: top;
      opacity: 1;
   }
}

/* Fade In */
@-webkit-keyframes fade-in {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

@keyframes fade-in {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

/* Puff In */
@-webkit-keyframes puff-in-center {
   0% {
      -webkit-transform: scale(2);
      transform: scale(2);
      -webkit-filter: blur(4px);
      filter: blur(4px);
      opacity: 0;
   }

   100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
   }
}

@keyframes puff-in-center {
   0% {
      -webkit-transform: scale(2);
      transform: scale(2);
      -webkit-filter: blur(4px);
      filter: blur(4px);
      opacity: 0;
   }

   100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
   }
}

/* Flicker In */
@-webkit-keyframes flicker-in-1 {
   0% {
      opacity: 0;
   }

   10% {
      opacity: 0;
   }

   10.1% {
      opacity: 1;
   }

   10.2% {
      opacity: 0;
   }

   20% {
      opacity: 0;
   }

   20.1% {
      opacity: 1;
   }

   20.6% {
      opacity: 0;
   }

   30% {
      opacity: 0;
   }

   30.1% {
      opacity: 1;
   }

   30.5% {
      opacity: 1;
   }

   30.6% {
      opacity: 0;
   }

   45% {
      opacity: 0;
   }

   45.1% {
      opacity: 1;
   }

   50% {
      opacity: 1;
   }

   55% {
      opacity: 1;
   }

   55.1% {
      opacity: 0;
   }

   57% {
      opacity: 0;
   }

   57.1% {
      opacity: 1;
   }

   60% {
      opacity: 1;
   }

   60.1% {
      opacity: 0;
   }

   65% {
      opacity: 0;
   }

   65.1% {
      opacity: 1;
   }

   75% {
      opacity: 1;
   }

   75.1% {
      opacity: 0;
   }

   77% {
      opacity: 0;
   }

   77.1% {
      opacity: 1;
   }

   85% {
      opacity: 1;
   }

   85.1% {
      opacity: 0;
   }

   86% {
      opacity: 0;
   }

   86.1% {
      opacity: 1;
   }

   100% {
      opacity: 1;
   }
}

@keyframes flicker-in-1 {
   0% {
      opacity: 0;
   }

   10% {
      opacity: 0;
   }

   10.1% {
      opacity: 1;
   }

   10.2% {
      opacity: 0;
   }

   20% {
      opacity: 0;
   }

   20.1% {
      opacity: 1;
   }

   20.6% {
      opacity: 0;
   }

   30% {
      opacity: 0;
   }

   30.1% {
      opacity: 1;
   }

   30.5% {
      opacity: 1;
   }

   30.6% {
      opacity: 0;
   }

   45% {
      opacity: 0;
   }

   45.1% {
      opacity: 1;
   }

   50% {
      opacity: 1;
   }

   55% {
      opacity: 1;
   }

   55.1% {
      opacity: 0;
   }

   57% {
      opacity: 0;
   }

   57.1% {
      opacity: 1;
   }

   60% {
      opacity: 1;
   }

   60.1% {
      opacity: 0;
   }

   65% {
      opacity: 0;
   }

   65.1% {
      opacity: 1;
   }

   75% {
      opacity: 1;
   }

   75.1% {
      opacity: 0;
   }

   77% {
      opacity: 0;
   }

   77.1% {
      opacity: 1;
   }

   85% {
      opacity: 1;
   }

   85.1% {
      opacity: 0;
   }

   86% {
      opacity: 0;
   }

   86.1% {
      opacity: 1;
   }

   100% {
      opacity: 1;
   }
}





/* Popup Closing Animation Functions */

/* Scale Out */
@-webkit-keyframes scale-out-center {
   0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
   }

   100% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 1;
   }
}

@keyframes scale-out-center {
   0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
   }

   100% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 1;
   }
}

/* Rotate Out */
@-webkit-keyframes rotate-out-center {
   0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
      opacity: 1;
   }

   100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
      opacity: 0;
   }
}

@keyframes rotate-out-center {
   0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
      opacity: 1;
   }

   100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
      opacity: 0;
   }
}

/* Swirl Out */
@-webkit-keyframes swirl-out-bck {
   0% {
      -webkit-transform: rotate(0) scale(1);
      transform: rotate(0) scale(1);
      opacity: 1;
   }

   100% {
      -webkit-transform: rotate(-540deg) scale(0);
      transform: rotate(-540deg) scale(0);
      opacity: 0;
   }
}

@keyframes swirl-out-bck {
   0% {
      -webkit-transform: rotate(0) scale(1);
      transform: rotate(0) scale(1);
      opacity: 1;
   }

   100% {
      -webkit-transform: rotate(-540deg) scale(0);
      transform: rotate(-540deg) scale(0);
      opacity: 0;
   }
}

/* Flip Out */
@-webkit-keyframes flip-out-hor-top {
   0% {
      -webkit-transform: rotateX(0);
      transform: rotateX(0);
      opacity: 1;
   }

   100% {
      -webkit-transform: rotateX(70deg);
      transform: rotateX(70deg);
      opacity: 0;
   }
}

@keyframes flip-out-hor-top {
   0% {
      -webkit-transform: rotateX(0);
      transform: rotateX(0);
      opacity: 1;
   }

   100% {
      -webkit-transform: rotateX(70deg);
      transform: rotateX(70deg);
      opacity: 0;
   }
}

/* Slit Out */
@-webkit-keyframes slit-out-vertical {
   0% {
      -webkit-transform: translateZ(0) rotateY(0);
      transform: translateZ(0) rotateY(0);
      opacity: 1;
   }

   54% {
      -webkit-transform: translateZ(-160px) rotateY(87deg);
      transform: translateZ(-160px) rotateY(87deg);
      opacity: 1;
   }

   100% {
      -webkit-transform: translateZ(-800px) rotateY(90deg);
      transform: translateZ(-800px) rotateY(90deg);
      opacity: 0;
   }
}

@keyframes slit-out-vertical {
   0% {
      -webkit-transform: translateZ(0) rotateY(0);
      transform: translateZ(0) rotateY(0);
      opacity: 1;
   }

   54% {
      -webkit-transform: translateZ(-160px) rotateY(87deg);
      transform: translateZ(-160px) rotateY(87deg);
      opacity: 1;
   }

   100% {
      -webkit-transform: translateZ(-800px) rotateY(90deg);
      transform: translateZ(-800px) rotateY(90deg);
      opacity: 0;
   }
}

/* Slide Out */
@-webkit-keyframes slide-out-top {
   0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
   }

   100% {
      -webkit-transform: translateY(-1000px);
      transform: translateY(-1000px);
      opacity: 0;
   }
}

@keyframes slide-out-top {
   0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
   }

   100% {
      -webkit-transform: translateY(-1000px);
      transform: translateY(-1000px);
      opacity: 0;
   }
}

/* Bounce Out */
@-webkit-keyframes bounce-out-top {
   0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
   }

   5% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
   }

   15% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
   }

   25% {
      -webkit-transform: translateY(-38px);
      transform: translateY(-38px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
   }

   38% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
   }

   52% {
      -webkit-transform: translateY(-75px);
      transform: translateY(-75px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
   }

   70% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
   }

   85% {
      opacity: 1;
   }

   100% {
      -webkit-transform: translateY(-800px);
      transform: translateY(-800px);
      opacity: 0;
   }
}

@keyframes bounce-out-top {
   0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
   }

   5% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
   }

   15% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
   }

   25% {
      -webkit-transform: translateY(-38px);
      transform: translateY(-38px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
   }

   38% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
   }

   52% {
      -webkit-transform: translateY(-75px);
      transform: translateY(-75px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
   }

   70% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
   }

   85% {
      opacity: 1;
   }

   100% {
      -webkit-transform: translateY(-800px);
      transform: translateY(-800px);
      opacity: 0;
   }
}

/* Roll Out */
@-webkit-keyframes roll-out-left {
   0% {
      -webkit-transform: translateX(0) rotate(0deg);
      transform: translateX(0) rotate(0deg);
      opacity: 1;
   }

   100% {
      -webkit-transform: translateX(-1000px) rotate(-540deg);
      transform: translateX(-1000px) rotate(-540deg);
      opacity: 0;
   }
}

@keyframes roll-out-left {
   0% {
      -webkit-transform: translateX(0) rotate(0deg);
      transform: translateX(0) rotate(0deg);
      opacity: 1;
   }

   100% {
      -webkit-transform: translateX(-1000px) rotate(-540deg);
      transform: translateX(-1000px) rotate(-540deg);
      opacity: 0;
   }
}

/* Swing Out */
@-webkit-keyframes swing-out-top-bck {
   0% {
      -webkit-transform: rotateX(0deg);
      transform: rotateX(0deg);
      -webkit-transform-origin: top;
      transform-origin: top;
      opacity: 1;
   }

   100% {
      -webkit-transform: rotateX(-100deg);
      transform: rotateX(-100deg);
      -webkit-transform-origin: top;
      transform-origin: top;
      opacity: 0;
   }
}

@keyframes swing-out-top-bck {
   0% {
      -webkit-transform: rotateX(0deg);
      transform: rotateX(0deg);
      -webkit-transform-origin: top;
      transform-origin: top;
      opacity: 1;
   }

   100% {
      -webkit-transform: rotateX(-100deg);
      transform: rotateX(-100deg);
      -webkit-transform-origin: top;
      transform-origin: top;
      opacity: 0;
   }
}

/* Fade Out */
@-webkit-keyframes fade-out {
   0% {
      opacity: 1;
   }

   100% {
      opacity: 0;
   }
}

@keyframes fade-out {
   0% {
      opacity: 1;
   }

   100% {
      opacity: 0;
   }
}

/* Puff Out */
@-webkit-keyframes puff-out-center {
   0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
   }

   100% {
      -webkit-transform: scale(2);
      transform: scale(2);
      -webkit-filter: blur(4px);
      filter: blur(4px);
      opacity: 0;
   }
}

@keyframes puff-out-center {
   0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
   }

   100% {
      -webkit-transform: scale(2);
      transform: scale(2);
      -webkit-filter: blur(4px);
      filter: blur(4px);
      opacity: 0;
   }
}

/* Flicker Out */
@-webkit-keyframes flicker-out-1 {
   0% {
      opacity: 1;
   }

   13.9% {
      opacity: 1;
   }

   14% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   14.9% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   15% {
      opacity: 1;
   }

   22.9% {
      opacity: 1;
   }

   23% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   24.9% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   25% {
      opacity: 1;
   }

   34.9% {
      opacity: 1;
   }

   35% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   39.9% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   40% {
      opacity: 1;
   }

   42.9% {
      opacity: 1;
   }

   43% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   44.9% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   45% {
      opacity: 1;
   }

   50% {
      opacity: 1;
   }

   54.9% {
      opacity: 1;
   }

   55% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   69.4% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   69.5% {
      opacity: 1;
   }

   69.9% {
      opacity: 1;
   }

   70% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   79.4% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   79.9% {
      opacity: 1;
   }

   80% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   89.8% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   89.9% {
      opacity: 1;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   90% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   100% {
      opacity: 0;
   }
}

@keyframes flicker-out-1 {
   0% {
      opacity: 1;
   }

   13.9% {
      opacity: 1;
   }

   14% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   14.9% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   15% {
      opacity: 1;
   }

   22.9% {
      opacity: 1;
   }

   23% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   24.9% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   25% {
      opacity: 1;
   }

   34.9% {
      opacity: 1;
   }

   35% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   39.9% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   40% {
      opacity: 1;
   }

   42.9% {
      opacity: 1;
   }

   43% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   44.9% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   45% {
      opacity: 1;
   }

   50% {
      opacity: 1;
   }

   54.9% {
      opacity: 1;
   }

   55% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   69.4% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   69.5% {
      opacity: 1;
   }

   69.9% {
      opacity: 1;
   }

   70% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   79.4% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   79.9% {
      opacity: 1;
   }

   80% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   89.8% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   89.9% {
      opacity: 1;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   90% {
      opacity: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   100% {
      opacity: 0;
   }
}